<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
       <h1>UF Directory App</h1>
      </div> 
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <!-- 

                Implement a way to filter through listings using the search bar 

              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="query">  <!--added ng-model--> 
          </div>

          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th>Code</th>
                <th>Building Name</th>
                <th></th>
              </tr>
              <tr ng-repeat="item in listings  | filter: query" ng-click="showDetails(listings.indexOf(item))">
               <td>{{item.code}}</td>
               <td>{{item.name}}</td>
               <td class="button" ng-click="deleteListing(listings.indexOf(item))"><span class="glyphicon glyphicon-trash"></span></td>
               
              </tr>
            </table>
            
          </div>
               <!-- 

                  Fill in the rest of the table:
                      * populate the rows with the code and name of each listing
                      * include a way to remove individual listings

                --> 
            <p></p>
            <h1>Fill in Form to Add Building</h1>
            <div id="addListing">
              <input type="text" class="form-control" placeholder="Building Code" ng-model="addItem.code">
              <input type="text" class="form-control" placeholder="Building Name" ng-model="addItem.name">
              <input type="text" class="form-control" placeholder="Building Address" ng-model="addItem.address">
              <input type="text" class="form-control" placeholder="Longitude" ng-model="addItem.longitude">
              <input type="text" class="form-control" placeholder="Latitude" ng-model="addItem.latitude">
              <p></p>
              <span  id="addButton" ng-click="addListing()">
                  <a href="#" class="btn btn-info btn-lg">
                  <span class="glyphicon glyphicon-ok"></span> ADD 
                </a>

              </span>
             
            </div>

 <div class="display">
         
            <h1>Detailed Information</h1>

            <h2>{{detailedInfo.name}}</h2>
            <h3>{{detailedInfo.address}}<h3>
            <h3>{{detailedInfo.coordinates}}<h3>
          
            </div>

       </div>   
      
    
      
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>